@import 'tailwindcss';

:root {
  --background: #0e100f;
  --foreground: #ebebeb;
}

body {
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-syne);
  --font-handwriting: var(--font-architects-daughter);
  --color-pink: #ff6ec7;
  --color-dark-pink: #d1007f;

  --text-sandy: clamp(7rem, 2rem + 10vw, 11.5rem);
  --text-sandy--line-height: 0.9;
  --text-sandy--letter-spacing: 0.125rem;
  --text-sandy--font-weight: 700;

  --text-sandy-mobile: clamp(1rem, 25vw, 11.5rem);
  --text-sandy-mobile--line-height: 0.9;
  --text-sandy-mobile--letter-spacing: 0.125rem;
  --text-sandy-mobile--font-weight: 700;

  --text-mo: clamp(4rem, 1rem + 12vw, 10rem);
  --text-mo--line-height: 1;
  --text-mo--letter-spacing: 0.125rem;
  --text-mo--font-weight: 700;

  --text-mo-mobile: clamp(4rem, 23vw, 10rem);
  --text-mo-mobile--line-height: 1;
  --text-mo-mobile--letter-spacing: 0.125rem;
  --text-mo-mobile--font-weight: 700;

  --breakpoint-xl2: 1250px;
}

@layer components {
  .content-wrapper {
    @apply mx-auto max-w-7xl px-4 md:px-8 lg:px-4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

polyline {
  --_height: 100;
  --_count: 20;
  --_y: (var(--_height) * var(--i) / var(--_count)) * 1px;
  --_offset: (var(--_height) / var(--_count)) * 0.5px;
  fill: none;
  stroke: var(--color-pink);
  stroke-linecap: round;
  stroke-width: 0.1;
  transform-box: fill-box;
  transform-origin: center;
  translate: 0 calc(var(--_y) - var(--_offset));
}

@media (min-width: 1250px) {
  polyline {
    --_height: 60;
    --_count: 20;
  }
}

.wrapperButton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* The SVG filter that generates the noise */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="0.65" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noiseFilter)"/></svg>');

  /* Control the intensity of the noise */
  opacity: 0.15;

  /* Ensure the noise is on top of the gradient */
  z-index: 1;
}
